.display-question-content,
.display-answer-content {
  width: 290px;
  height: 200px;
  padding: 10px;
  border: 1px solid gray;
  overflow: visible;
  overflow-y: scroll;
  word-break : break-all;
}

.display-question-content__textarea,
.display-answer-content__textarea {
  white-space: pre-wrap;
}
.display-question-content__image,
.display-answer-content__image {
  width: 200px;
  height: auto;
}