.create-question-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  border: 1px solid gray;
}

.form-question-answer {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 50px 10px;
  border: 1px solid gray;
}

.question-answer-area {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.question-input-area {
  width: 290px;
  height: 200px;
  padding: 10px;
  resize: none;
}

.answer-area {
  position: relative;
  width: 290px;
  height: 200px;
  
}

.answer-input-area {
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
}


.image-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 30px;
  border: 1px solid gray;
  background-color: lightblue;
  text-align: center;
}

.hidden {
  display: none;
}

.question-submit-button {
  width: 100px;
}

.preview-overall-area {
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 50px 10px;
}

.img-preview {
  width: 200px;
  height: 150px;
}

.answer-preview,
.question-preview {
  width: 290px;
  height: 200px;
  padding: 10px;
  border: 1px solid gray;
  overflow: visible;
  overflow-y: scroll;
  word-break : break-all;
}

#preview-textarea-input {
  white-space: pre-wrap;
}