.qa-form {
  display: flex;
  flex-direction: column;
  width: 620px;
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
}

.qa-form__notice {
  margin: 5px;
  color: #0000DD;
}

.qa-form__input-qa-wrap {
  display: flex;
  justify-content: space-between;
  height: 200px;
}


.qa-form__input-question-wrap, 
.qa-form__input-answer-wrap {
  position: relative;
  width: 290px;
  height: 200px;
}

.qa-form__textarea {
  width: 290px;
  height: 200px;
  padding: 10px;
  resize: none;
}


.qa-form__image-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 60px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #282c2f;
  border-radius: 5px;
  background-color: #282c2f;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

#qa-form__question-checkbox,
#qa-form__answer-checkbox {
  position: absolute;
  left: -100vw;
}

.hidden {
  display: none;
}

.qa-form__submit-btn {
  width: 80px;
  margin-left: auto;
}

.qa-form__preview-and-pulldown {
  display: flex;
  justify-content: space-between;
}

.question-preview-and-pulldown,
.answer-preview-and-pulldown {
  width: 290pxï¼›
}

.question-preview,
.answer-preview {
  height: 200px;
  padding: 10px;
  border: 1px solid gray;
  overflow: visible;
  overflow-y: scroll;
  word-break : normal;
}

.qa-form__question-preview-text,
.qa-form__answer-preview-text {
  font-weight: bold;
}

#question-preview__textarea,
#answer-preview__textarea {
  white-space: pre-wrap;
}

.img-preview-question,
.img-preview-answer {
  width: 200px;
  height: auto;
  vertical-align: bottom;
}


.question-preview__img-destroy,
.answer-preview__img-destroy {
  display: block;
  width: 50px;
  height: 23px;
  line-height: 19px;
  border: 2px solid #000;
  font-size: 0.9rem;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.question-pulldown,
.answer-pulldown {
  display: flex;
}

.pulldown-description {
  width: 145px;
  font-size: 0.75rem;
}

.pulldown-select {
  width: 100px;
  height: 30px;
  margin-right: 30px;
}

@media (max-width: 599px) {
  .qa-form {
    width: 330px;
    padding: 20px;
    border: 1px solid #ffffff;
  }

  .qa-form__input-qa-wrap {
    display: block;
    height: 400px;
  }

  .qa-form__preview-and-pulldown {
    display: block;
  }
}