.review-main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.all-reviews-wrap {
  width: 700px;
  border: 1px solid gray;
}

.review-individual-wrap {
  width: 580px;
  margin: 0 auto;
}

.review-question-answer {
  display: flex;
  border: 1px solid gray;
}

.review-main .display-answer-content {
  display: none;
}

.review-click {
  width: 290px;
  height: 200px;
  padding: 10px;
  border: 1px solid gray;
}

.review-option {
  display: flex;
  justify-content: space-between;
}

.review-option__memory-level-wrap {
  width: 200px;
}

.review-option__memory-level-description {
  display: flex;
  /* justify-content: flex-start; */
  width: 200px;
  border: 1px solid gray;
}

.review-option__memory-level-text {
  margin-right: 10px;
  border: 1px solid gray;
}

.review-option__notice-display-date {
  width: 120px;
  border: 1px solid gray;
}

.review-option__notice-display-date.js-0 {
  color: blue;
}

.review-option__notice-display-date.js-1 {
  color: blueviolet;
}

.review-option__notice-display-date.js-2 {
  color: violet;
}

.review-option__notice-display-date.js-3 {
  color: red;
}

.review-option__btn-wrap {
  display: flex;
  justify-content: space-around;
}

.review-option__memory-level-low {
  width: 30px;
  border: 1px solid gray;
  color: blue;
  text-align: center;
}

.review-option__btn {
  width: 30px;
  border: 1px solid gray;
  text-align: center;
}

.review-option__memory-level-high {
  width: 30px;
  color: red;
  border: 1px solid gray;
  text-align: center;
}

@media (max-width: 599px) {
  .all-reviews-wrap {
    width: 350px;
  }

  .review-individual-wrap {
    width: 290px;
  }

  .review-question-answer {
    display: block;
  }
}