.share-index__category-info {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.share-index-item__description {
  display: flex;
  position: relative;
  width: 580px;
  margin-top: 5px;
  font-size: 0.68rem;
}

.share-index-item__description span {
  color: #0000DD;
}