<%= form_with model: group, class: "edit-group-form-#{num}", local: true do |f| %>
  <%= f.text_area :name, class:"input-default" %>
  <div class="lower-group-form">
    <%= f.submit "編集", class:"group-submit-button-#{num}" %>
    <div class="close-edit-form-<%=num%>">×</div>
  </div>
<% end %>