.top-main {
  padding-top: 50px;
}

.top-notice {
  margin: 10px 0 0 10px;
  color: #0000DD;
}

.three-questions-area {
  display: flex;
  width: 100vw;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  padding: 30px 10px;
}

.top-question-area {
  width: calc((100% - 30px) / 3);
  min-width: 200px;
  height: 100%;
  margin-right: 15px;
  border: 1px solid gray;
  background-color: #f5f5f5;
}

.top-question-area.management {
  margin-right: 0;
}

.top-question-area__title {
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 10px 0;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid gray;
}

.group-panel-wrap {
  height: calc(100% - 40px);
  padding-top: 10px;
  overflow: scroll;
}

.group-panel-link {
  text-decoration: none;
}

.group-panel {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 92%;
  height: 50px;
  margin: 0 4% 5px;
  padding: 0 2%;
  color: #000088;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #fff;
}

.group-panel:hover {
  font-weight: bold;
}

.group-panel__name {
  width: 80%;
  overflow: visible;
  overflow-y: scroll;
  word-break : normal;
}

.group-panel__edit {
  width: 30px;
  height: 30px;
}

.group-panel__edit img {
  display: block;
  width: 15px;
  margin: 5px auto 0;
}

.group-panel__count {
  position: absolute;
  right: 5px;
  bottom: 0px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
}

.group-panel__count.count-0 {
  color: #008000;
}

.group-panel__count.count-2 {
  color: #800080;
}

.top-tab {
  display: none;
}

.open-create-form {
  width: 92%;
  height: 50px;
  margin: 0 4% 5px;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
}

.top-plus {
  margin-left: 10px;
  font-size: 1.5rem;
}

.top-form-create,
.top-form-edit {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 92%;
  margin: 0 4% 5px;
}

.top-form-create__input,
.top-form-edit__input {
  width: 100%;
  height: 50px;
  padding: 0 2%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.top-form-create__lower,
.top-form-edit__lower {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5px;
}

.top-form-create__submit-btn,
.top-form-edit__sumbit-btn {
  width: 70px;
}

.top-form-create__close-btn,
.top-form-edit__close-btn {
  width: 30px;
  padding: 2px 0 0 5px;
  cursor: pointer;
}

.top-form-create__close-btn img,
.top-form-edit__close-btn img {
  width: 15px;
}

.top-lower-area {
  width: 100vw;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.record {
  max-width: 900px;
  height: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.record__description {
  width: 200px;
  margin: 10px 0;
  padding-left: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border-left: 5px solid #282c2f;
  border-bottom: 1px solid #282c2f;
}

.record__create-count-wrap,
.record__review-count-wrap {
  display: flex;
  justify-content: space-around;
  width: 580px;
  text-align: center;
}

.record__create-count,
.record__review-count {
  width: 75px;
  height: 75px;
  padding: 5px 3px;
  background-color: #f5f5f5;
  border: 1px solid gray;
  border-radius: 10px;
}

.record__date-wrap {
  font-size: 0.9rem;
}

.record__create-count-lower,
.record__review-count-lower {
  width: 50px;
  height: 30px;
  margin: 5px auto;
  color: blue;
  font-size: 1.2rem;
  font-weight: bold;
}


@media (max-width: 599px) {
  .three-questions-area {
    display: block;
    width: 400px;
    max-width: 100vw;
  }

  /* 初期状態では問題復習エリア以外を非表示 */
  .top-question-area.review {
    display: block;
    width: 100%;
    height: calc(100% - 30px);
    border-top: none; 
  }

  .top-question-area {
    display: none;
    width: 100%;
    height: calc(100% - 30px);
    border-top: none; 
  }
  /* //初期状態では問題復習エリア以外を非表示 */

  .top-question-area__title {
    display: none;
  }

  .top-tab {
    display: flex;
    justify-content: space-around;
    height: 30px;
  }

  /* 初期状態では問題復習のタブのみ太文字, 背景色あり, border-bottomなし */
  .top-tab__item {
    width: calc(100% / 3);
    height: 30px;
    line-height: 28px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
  }

  .top-tab__item.review {
    border-bottom: none;
    background-color: #f5f5f5;
    font-weight: bold;
  }
  /* //初期状態では問題復習のタブのみ太文字, 背景色あり, border-bottomなし */

  .group-panel-wrap {
    height: 100%;
  }

  .record {
    width: 350px;
    max-width: 100vw;
    padding: 0;
  }

  .record__description {
    width: 160px;
    font-size: 1rem;
  }

  .record__create-count-wrap,
  .record__review-count-wrap {
    width: 350px;
  }

  .record__create-count,
  .record__review-count {
    width: 45px;
    height: 80px;
  }

  .record__date-wrap {
    font-size: 0.7rem;
  }

  .record__create-count-lower,
  .record__review-count-lower {
    width: 30px;
    height: 25px;
    font-size: 1rem;
  }
  .record__week-day {
    display: block;
  }
}