<%# 入力した解答をプレビュー表示するエリア %>
<div class="answer-preview">
  <div id="answer-preview__textarea"></div>
  <div id="answer-preview__img"></div>
</div>
<%# //入力した解答をプレビュー表示するエリア %>
<%# 解答のプレビューの表示を変更するプルダウンを記述したエリア %>
<%= f.fields_for :answer_option do |ao| %>
  <div class="answer-pulldown">
    <div class="answer-pulldown__font-size">
      <div class="pulldown-description">文字サイズを変更(倍)</div>
      <%= ao.collection_select(:font_size_id, FontSize.all, :id, :name, {selected: 6}, {class:"pulldown-select"}) %>
    </div>
    <div class="answer-pulldown__image-size">
      <div class="pulldown-description">画像サイズを変更(倍)</div>
      <%= ao.collection_select(:image_size_id, ImageSize.all, :id, :name, {selected: 4}, {class:"pulldown-select"}) %>
    </div>
  </div>
  <%= ao.hidden_field :id %>
<% end %>
<%# //解答のプレビューの表示を変更するプルダウンを記述したエリア %>