<%# quesitonとanswerの部分テンプレートもまとめられそう %>
<%# 解答を表示するエリア %>
<div class="display-answer-content">
  <div class="display-answer-content__textarea" style="font-size: <%=100 * @question_answer.answer_option.font_size.name.to_f%>%;"><%= @question_answer.answer %></div>
  <div id="display-answer-content__image">
    <%= image_tag @question_answer.answer_option.image, class: 'img-preview-answer', style: "width: #{200 * @question_answer.answer_option.image_size.name.to_f}px;" if @question_answer.answer_option.image.attached? %>
  </div>
</div>
<%# //解答を表示するエリア %>