<%# 解答を表示するエリア %>
<div class="display-answer-content">
  <div class="display-answer-content__textarea" style="font-size: <%=question_answer.answer_option.font_size.name.to_f%>rem;"><%= question_answer.answer %></div>
  <%= image_tag question_answer.answer_option.image, class: 'display-answer-content__image', style: "width: #{(200 * question_answer.answer_option.image_size.name.to_f).floor}px;" if question_answer.answer_option.image.attached? %>
</div>
<%# //解答を表示するエリア %>