<%# 問題を表示するエリア %>
<div class="display-question-content">
  <div class="display-question-content__textarea" style="font-size: <%=question_answer.question_option.font_size.name.to_f%>rem;"><%=question_answer.question%></div>
  <%= image_tag question_answer.question_option.image, class: 'display-question-content__image', style: "width: #{200 * question_answer.question_option.image_size.name.to_f}px;" if question_answer.question_option.image.attached? %>
</div>
<%# //問題を表示するエリア %>