<%# 入力した問題をプレビュー表示するエリア %>
<div class="question-preview">
  <div id="question-preview__textarea"></div>
  <div id="question-preview__img"></div>
</div>
<%# //入力した問題をプレビュー表示するエリア %>
<%# 問題のプレビューの表示を変更するプルダウンを記述したエリア %>
<%= f.fields_for :question_option do |qo| %>
  <div class="question-pulldown">
    <div class="question-pulldown__font-size">
      <div class="pulldown-description">文字サイズを変更(倍)</div>
      <%= qo.collection_select(:font_size_id, FontSize.all, :id, :name, {selected: 6}, {class:"pulldown-select"}) %>
    </div>
    <div class="question-pulldown__answer-size">
      <div class="pulldown-description">画像サイズを変更(倍)</div>
      <%= qo.collection_select(:image_size_id, ImageSize.all, :id, :name, {selected: 4}, {class:"pulldown-select"}) %>
    </div>
  </div>
  <%= qo.hidden_field :id %>
<% end %>
<%# //問題のプレビューの表示を変更するプルダウンを記述したエリア %>