<%= render 'shared/header' %>
<div class="qa-index-main">
  <div class="qa-index-questions-wrap">
    <% @question_answers.each do |question_answer| %>
      <div class="qa-index-question-individual">
        <div class="qa-index-question-individual__question">
          <%= render partial: 'display_question_content', locals: {question_answer: question_answer} %>
        </div>
        <div class="qa-index-question-individual__description">
          <%= link_to '問題詳細ページ', group_question_answer_path(@group, question_answer) %>
        </div>
      </div>
    <% end %>
    <%= paginate @question_answers %>
  </div>
</div>

